/*------------------------------------------------------------------
------------------------header---------------------------------------
------------------------------------------------------------------*/

body {
  font-family: 'Montserrat';
  background: #F2F6FB;
}

.mt4-5{
  margin-top: 2rem!important;
}
