/*------------------------------------------------------------------
------------------------header---------------------------------------
------------------------------------------------------------------*/

body {
  font-family: 'Montserrat';
  background: #F2F6FB;
}



.mt4-5{
  margin-top: 2rem!important;
}

.titles {
  padding: 25px 60px;
  background: #fff;
}

.titles h2 {
  font-size: 20px;
  font-weight: 500;
}

.titles h2 a {
  color: #333;
}

.titles h2 a:hover {
  color: #848EA8;
  text-decoration: none;
}

.titles h2 a i {
  margin-right: 0.5rem;
}

/*-----Btn------*/

.btn.info {
  background: #042A6B;
  color: #fff;
  margin-right: 5px;
}

.btn.success {
  background: #00BBE2;
  color: #fff;
}


/*-----tables------*/

.colores {
  border-radius: 5px;
  background: #fff;
}

.colores .table td {
  border: none;
}

.colores .table td.color span {
  height: 35px;
  width: 35px;
  border-radius: 5px;
  display: inline-block;
  border: #fff;
  margin-left: 10px;
}

.colores .table td.borrar {
  font-size: 20px;
  width: 25px;
}

.colores .table td.borrar i {
  color: transparent;
  margin-top: 10px;
}

.colores .table tr:hover td.borrar i {
  color: #848EA8;
}

.colores .table-striped tbody tr:nth-of-type(odd) {
  background: #F2F6FB;
}

.table {
  -webkit-box-shadow: 2px 14px 26px -15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 14px 26px -15px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 14px 26px -15px rgba(0, 0, 0, 0.15);
}

.table-bordered {
  border: none;
}

.table-hover tbody tr:hover {
  background: #59bdf82b;
}

.table thead th {
  background: transparent;
  border: none;
  color: #00BBE2;
  font-size: 14px;
  font-weight: bold;
}

.table thead th label {
  display: block;
  color: #848EA8;
}

table tbody {
  border-radius: 5px;
}

.table td {
  border-top: 1px solid #ABCAE7;
  color: #848EA8;
  padding: 1rem;
  font-size: 0.9rem;
}

.table td.image, .table th.image {
  width: 150px;
  text-align: center;
}

.table td.image img {
  max-width: 100px;
  max-height: 50px;
}

.table-striped tbody tr:nth-of-type(odd) {
  background: #fff;
}

.table-striped tbody tr:nth-of-type(odd):hover {
  background: #59bdf82b;
}

/*-------------editable--------------*/

.ingreso-info h3 {
  font-size: 1.2rem;
}

.ingreso-info table tr.nuevo-registro {
  border: 2px solid #0B5299;
  background: #FFF;
}

.ingreso-info table tr.nuevo-registro td span.label {
  display: block;
  color: #B6C2D1;
  font-size: 11px;
  font-weight: 500;
}

.table.table-bordered thead th.no-border, .table.table-bordered td.no-border {
  border-right: none;
}

.table.table-bordered thead th.acciones, .table.table-bordered td.acciones {
  border-left: none;
}

.ingreso-info .table.table-bordered td input.date {
  max-width: 120px;
}

td.acciones a {
  display: inline;
  font-size: 25px;
  margin-right: 10px;
}

td.acciones a.cancel {
  color: #dc0714;
}


a.cancel {
  color: #dc0714;
  display: inline;
  font-size: 25px;
  margin-right: 10px;
}

td.acciones a.save {
  color: #37C480;
}


.ingreso-info .table.table-bordered tr.edit td input.date {
  border: none;
}

.ingreso-info .table.table-bordered tr.edit td span.input-group-append {
  display: none;
}

.ingreso-info .table.table-bordered tr.edit td input.date:focus {
  border: 1px solid #ced4da;
}

.ingreso-info .table.table-bordered tr.edit td input.date:focus+span.input-group-append {
  display: inherit;
}

.ingreso-info .table.table-bordered tr.edit td input[type="number"], .ingreso-info .table.table-bordered tr.edit td input[type="text"] {
  border: none;
  background: transparent;
}

.ingreso-info .table.table-bordered tr.edit td select {
  border: none;
  background: transparent;
}

.ingreso-info .table.table-bordered tr.edit td select:focus {
  border: 1px solid #ced4da;
}

.ingreso-info .edit .custom-control-input:disabled~.custom-control-label::before {
  background: transparent;
}

.table.table-bordered tr.editable.abierta {
  border: 2px solid #0B5299;
  background: #F6FAFF;
}

.table.table-bordered tr.editable td {
  padding: 0;
}

.table.table-bordered tr.editable td input.table-input {
  padding: 10px;
  width: 100%;
  border: none;
  background: transparent;
}

.table.table-bordered tr.editable td input.table-input:focus {
  border: 1px solid #0B5299;
  background: #fff;
}

.table.table-bordered tr.editable td select {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 0;
  background: transparent;
}

.table.table-bordered tr.editable td select:focus {
  border: 1px solid #0B5299;
  background: #fff;
}

.table.table-bordered tr.editable td p {
  padding: 10px 10px 0 10px;
  margin-bottom: 0;
}

.large-descrip {
  max-width: 200px;
}

.mt-1, .my-1 {
  margin-top: -0.80rem !important;
  margin-left: 1rem;
}


/*------forms------*/

.form-group label {
  text-transform: uppercase;
  font-size: 12px;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-control.pfc-value{
  width: 20%;
  display: inline;
}

.form-control.pfc-value2{
  width: 75%;
  display: inline;
}

.busqueda-select select {
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  background-color: #848EA8;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem 0 0 .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  width: 35%;
}

.busqueda-select input {
  display: inline;
  width: 65%;
  margin-left: -5px;
  border-radius: 0 .25rem .25rem 0;
}

h4 {
  font-size: 16px;
  border-bottom: 1px solid #d9d9d9;
  margin-top: 25px;
  margin-bottom: 20px;
  padding-bottom: 12px;
  color: #333;
  font-weight: 600;
}

/*——————————————
Responsive Stuff
———————————————*/

@media (max-width: 945px) {
  .timeline .event::before {
      left: 0.5px;
      top: 20px;
      min-width: 0;
      font-size: 13px;
  }
  .timeline h3 {
      font-size: 16px;
  }
  .timeline p {
      padding-top: 20px;
  }
  section.lab h3.card-title {
      padding: 5px;
      font-size: 16px
  }
}

@media (max-width: 768px) {
  .timeline .event::before {
      left: 0.5px;
      top: 20px;
      min-width: 0;
      font-size: 13px;
  }
  .timeline .event:nth-child(1)::before, .timeline .event:nth-child(3)::before, .timeline .event:nth-child(5)::before {
      top: 38px;
  }
  .timeline h3 {
      font-size: 16px;
  }
  .timeline p {
      padding-top: 20px;
  }
}

.text-dark-menu {
  text-decoration: solid;
  color: "#042A6B";
  

}